.HomeSlider {
    height: 350px;
    .slick-list {
        height: 100%;
        .slick-track {
            height: 100%;
            .slick-slide {
                height: 100%;
                background-color: #ccc;
                [data-targetslide] {
                    a {
                        height: 100%;
                        width: 100%;
                        display: inline-block;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                [data-targetslide='0'] a {
                    background-image: url('./assets/slides/1.jpg');
                }
                [data-targetslide='1'] a {
                    background-image: url('./assets/slides/2.jpg');
                }
                [data-targetslide='2'] a {
                    background-image: url('./assets/slides/3.jpg');
                }
                [data-targetslide='3'] a {
                    background-image: url('./assets/slides/4.jpg');
                }
                [data-targetslide='4'] a {
                    background-image: url('./assets/slides/5.jpg');
                }
                [data-targetslide='5'] a {
                    background-image: url('./assets/slides/6.jpg');
                }
            }
        }
    }
    .slick-next,
    .slick-prev {
        z-index: 1;
    }
    .slick-next {
        right: 25px;
    }
    .slick-prev {
        left: 25px;
    }
}
